$main-color: #2E4053;
$read-color: #85929E;
$white-color: #fff;
$black-color: #000;
$gray-color: #ABB2B9;
$light-gray-color: #EBEDEF;
$red-color: #E74C3C;
$blue-color: #3498DB;
$green-color: #2ECC71;
